<!-- <nav class="navbar navbar-expand-lg navbar-light header_container">
  <div class="header_top_container">
    <div class="logo_container">
      <a class="navbar-brand" href="#"
        ><img
          src="../../../../assets/Image/Logo/Craftwills..png"
          width="140px"
          height="30px"
      /></a>
    </div>
    <div class="d-none d-lg-block">
      <form class="form-inline my-lg-0 header_search sm:w-2/6">
        <input
          class=""
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="header_profile_container space-x-2">
      <div class="d-none d-lg-block">
        <img src="../../../../assets/Icons/Notify.svg" />
      </div>
      <div class="d-none d-lg-block header_username">{{ username }}</div>
      <div class="header_profile_image">
        <img
          src="../../../../assets/Icons/DP.svg"
          alt="Avatar"
          style="width: 38px; height: 38px"
        />
      </div>
      <div class="d-none d-lg-block dropdown">
        <button
          class="dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu px-1" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            [routerLink]="['/home/profile']"
            routerLinkActive="router-link-active"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/Profile Header.svg"
            />
            Profile</a
          >
          <a class="dropdown-item" href="#"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/subscription header.svg"
            />
            Subscription</a
          >
          <a class="dropdown-item" href="#"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/subscription header.svg"
            />
            Subscription History</a
          >
          <a
            (click)="logout()"
            class="dropdown-item"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/Logot Header.svg"
            />
            Logout</a
          >
        </div>
      </div>
    </div>
    <div class="d-block d-lg-none d-flex flex-row">
      <img
        class="d-block d-lg-none w-[38px] h-[38px]"
        src="../../../../assets/Icons/Notify.svg"
      />
      <button
        class="navbar-toggler ml-2 p-0 border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img
          class="w-[38px] h-[38px]"
          src="../../../../assets/Icons/Group 3654.svg"
        />
      </button>
    </div>
  </div>

  <div
    class="collapse navbar-collapse w-100 menu_container bg-white top-16 absolute sm:static z-10"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto align-items-center space-x-2">
      <li
        class="nav-item flex"
        [routerLink]="['/home']"
        [routerLinkActive]="['active']"
      >
        <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 3.svg" />
        <a class="nav-link font-bold" [routerLinkActive]="['active']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item flex"
        [routerLink]="['/members']"
        [routerLinkActive]="['active']"
      >
        <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 4.svg" />

        <a class="nav-link text-inherit" [routerLinkActive]="['active']"
          >Member</a
        >
      </li>
      <li class="nav-item flex" [routerLink]="['/assets']">
        <img
          class="w-[18px]"
          [routerLinkActive]="['active']"
          src="../../../../assets/Icons/Mask Group 1.svg"
        />

        <a class="nav-link" [routerLinkActive]="['active']">Assets</a>
      </li>
      <li class="nav-item flex">
        <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 2.svg" />

        <a class="nav-link" href="#">Liabilities</a>
      </li>
      <li class="nav-item flex">
        <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 5.svg" />

        <a class="nav-link" href="#">Trust</a>
      </li>
      <div class="lg:hidden block text-red font-extrabold">Settings</div>
      <li class="nav-item flex sm:hidden">
        <img
          class="w-[18px]"
          src="../../../../assets/Icons/Profile Header.svg"
        />

        <a class="nav-link" [routerLink]="['/home/profile']">Profile</a>
      </li>
      <li class="nav-item flex sm:hidden">
        <img
          class="w-[18px]"
          src="../../../../assets/Icons/subscription header.svg"
        />

        <a class="nav-link" [routerLink]="['/home/profile']">Subscription</a>
      </li>
      <li class="nav-item flex sm:hidden">
        <img
          class="w-[18px]"
          src="../../../../assets/Icons/subscription header.svg"
        />

        <a class="nav-link" [routerLink]="['/home/profile']"
          >Subscription History</a
        >
      </li>
    </ul>
  </div>
</nav>
 -->



<div class="flex flex-col px-16  header_container ">
  <div class="flex flex-row justify-between w-full  items-center border-b-2 border-b-gray-100 py-3">
    <div class="lg:flex absolute text-center w-full lg:w-auto left-0 lg:static">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" 
        ><img
          src="../../../../assets/Image/Logo/Craftwills..png"
          width="140px"
          height="30px"
      /></a>
    </div>
    <div class="w-5/12 hidden lg:block">
      <form class=" sm:w-2/3 m-auto ">
        <input
          class="bg-[#f1f1f1] w-full rounded-2xl py-1 px-3 outline-none "
          type="search"
          
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="flex flex-row space-x-1 items-center">
      <div class="hidden lg:block mx-1">
        <img  class="w-[30px] h-[30px]" src="../../../../assets/Icons/Notify.svg" />
      </div>
      <div class="hidden lg:block header_username mx-1 font-bold">{{ username }}</div>
      <div class="header_profile_image z-10">
        <img
          src="../../../../assets/Icons/DP.svg"
          alt="Avatar"
          style="width: 30px; height: 30px"
          
        />
      </div>
      <div class="hidden sm:block dropdown">
        <button
          class="dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-chevron-down text-[14px]" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu px-1  flex-col w-fit z-20 bg-white p-1 hidden" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            [routerLink]="['/home/profile']"
            routerLinkActive="router-link-active"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/Profile Header.svg"
            />
            Profile</a
          >
          <a class="dropdown-item" href="#"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/subscription header.svg"
            />
            Subscription</a
          >
          <a class="dropdown-item" href="#"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/subscription header.svg"
            />
            Subscription History</a
          >
          <a
            (click)="logout()"
            class="dropdown-item"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            ><img
              class="w-[18px] h-[18px]"
              src="../../../../assets/Icons/Logot Header.svg"
            />
            Logout</a
          >
        </div>
      </div>
    </div>
    <div class="lg:hidden flex flex-row z-10">
      <img
        class="lg:hidden w-[38px] h-[38px]"
        src="../../../../assets/Icons/Notify.svg"
      />
      <button
        class="navbar-toggler ml-2 p-0 border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img
          class="w-[38px] h-[38px]"
          src="../../../../assets/Icons/Group 3654.svg"
        />
      </button>
    </div>
  </div>
  <div class="flex flex-row  collapse lg:flex-row bg-white  font-bold my-3 top-12 absolute sm:static z-10 left-0 w-full justify-between"
  id="navbarSupportedContent">
  <div class="flex flex-row items-center">
  <ul class="align-items-center space-x-4 m-0 space-y-4 lg:space-y-0 text-center lg:flex lg:flex-row">
    <li
      class="nav-item flex"
      [routerLink]="['/home']"
      [routerLinkActive]="['active']"
    >
      <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 3.svg" />
      <a class="hover:text-[#FF6782] hover:no-underline mx-1 font-bold" [routerLinkActive]="['active']"
        >Home </a
      >
    </li>
    <li
      class="nav-item flex"
      [routerLink]="['/members']"
      [routerLinkActive]="['active']"
    >
      <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 4.svg" />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1 " [routerLinkActive]="['active']"
        >Member</a
      >
    </li>
    <li class="nav-item flex" [routerLink]="['/assets']">
      <img
        class="w-[18px]"
        [routerLinkActive]="['active']"
        src="../../../../assets/Icons/Mask Group 1.svg"
      />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLinkActive]="['active']">Assets</a>
    </li>
    <li class="nav-item flex">
      <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 2.svg" />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLink]="['/liabilities']" [routerLinkActive]="['active']"  >Liabilities</a>
    </li>
    <li class="nav-item flex">
      <img class="w-[18px]" src="../../../../assets/Icons/Mask Group 5.svg" />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLink]="['/trust']" [routerLinkActive]="['active']">Trust</a>
    </li>
    <div class="lg:hidden block text-red font-extrabold">Settings</div>
    <li class="nav-item flex sm:hidden">
      <img
        class="w-[18px]"
        src="../../../../assets/Icons/Profile Header.svg"
      />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLink]="['/home/profile']">Profile</a>
    </li>
    <li class="nav-item flex sm:hidden">
      <img
        class="w-[18px]"
        src="../../../../assets/Icons/subscription header.svg"
      />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLink]="['/home/profile']">Subscription</a>
    </li>
    <li class="nav-item flex sm:hidden">
      <img
        class="w-[18px]"
        src="../../../../assets/Icons/subscription header.svg"
      />

      <a class="hover:text-[#FF6782] hover:no-underline mx-1" [routerLink]="['/home/profile']"
        >Subscription History</a
      >
    </li>
  </ul>

</div>
    <div>
      <div> </div>
      <div *ngIf="router.url === '/home'" class="flex flex-row bg-red rounded-2xl px-7 py-2 items-center cursor-pointer" [routerLink]="['/will/createWill']" routerLinkActive="router-link-active" >
        <div class="mx-1">
          <img src="../../../../assets/Icons/Assets Distribution.svg">
        </div>
        <div class="text-sm mx-1" >My Will</div>
      </div>


      <div *ngIf="router.url === '/will/createWill'" (click)="latestWill()" class="flex flex-row  rounded-2xl px-2 py-2 items-center cursor-pointer border-2 border-[#E0E0E0]" [routerLink]="['/will/createWill']" routerLinkActive="router-link-active" >
        <div class="mx-3">
          <img class="w-[22px] h-[22px]" src="../../../../assets/Icons/Assets Distribution.svg">
        </div>
        <div>
          <div class="text-sm " >latest Will</div>
          <div class="text-sm " >11-22-2022 | 8:00 pm</div>

        </div>
        <div class="mx-3 -rotate-90">
          <img class="w-[22px] h-[22px]" src="../../../../assets/Icons/Back.svg">
        </div>
      </div>

    </div>
  </div>
</div>
