
<div class="flex flex-col px-8 py-4 space-y-2">
  <app-header-toolbar routerlink="/assets/createAssets" pagetitle="Investment Account" ></app-header-toolbar>

  <form
  method="POST"
  [formGroup]="InvestmentAccountUser"
>
  <div class="grid bold grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-5 gap-4 gap-y-0 mt-3">
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Account Name</label>
        <input
          type="text"
          placeholder="Account Name"
          formControlName="accountName"
          class="authinput form-control"
        />
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.accountName }}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Account No.</label>
        <input
          type="text"
          placeholder="Account No."
          formControlName="accountNo"
          class="authinput form-control"
        />
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.accountNo  }}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Country</label>
        <input
          type="text"
          placeholder="country"
          formControlName="country"
          class="authinput form-control"
        />
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.country }}
      </div>
    </div>


  </div>
  <div
  class="my-4 flex flex-col w-full md:w-3/12 lg:w-2/12 space-x-4 p-3 items-center bg_grey rounded-3xl font-semibold"
>
  <div class="w-full font-extrabold text-sm md:text-base text-center">Specify ownership type</div>
  <div class="flex w-full mt-1 justify-evenly ml-0 items-center">
    <input
    type="radio"
    formControlName="specifyOwnershipType"
    value="sole"
    id="test1"
    class="mx-1 radioCustom"
    />
    <label class=" text-sm mx-1 mt-1" for="test1">Sole</label>
    <input
    type="radio"
    id="test2"
    formControlName="specifyOwnershipType"
    value="joint"
    class="mx-1 radioCustom"
    />
    <label class=" text-sm mx-1 mt-1" for="test2">Joint</label>

</div>
<div class="text-red-500 errors mx-2">
    {{ formErrors.specifyOwnershipType }}
  </div>
</div>
<div class=" sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">

  <app-button (myMethod)="addinvestmentAccount()" value="Add Policy" id="submitButtonId"></app-button>
</div>
  <div class="text-green-500">{{responseMessage}}</div>
  </form>

</div>
