
<div class="flex flex-col px-8 py-4 spae-y-2">

    <app-header-toolbar class="hidden md:block" routerlink="/assets" pagetitle="Assets" [headerMenuIcon]=true></app-header-toolbar>
    <app-header-toolbar class=" md:hidden" routerlink="/assets" pagetitle="Choose Asset Category" [headerMenuIcon]=true></app-header-toolbar>
    <app-button  value="Tutorial" routelink="/home" class="md:hidden" backgroundColor="bg-[#000]" margin="my-1"></app-button>

  <div class="w-full flex flex-row justify-center ">
      <div class="w-full sm:w-2/3 md:w-1/3 lg:w-4/12 flex flex-col drop_shadow_container md:shadow-none rounded-2xl p-3 space-y-2">
  <div class="font-extrabold text-xl m-1 hidden md:flex ">Choose Asset Category</div>
  <div
  class="grid grid-cols-2 md:grid-cols-3 items-center justify-center overflow-auto h-[75vh]"
>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer " [routerLink]="['/assets/addBank']" routerLinkActive="router-link-active" >
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Bank Account.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Bank account</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer " [routerLink]="['/assets/investmentAccount']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Investment Account.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Investment account</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/insurancePolicy']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Insurance Policy.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Insurance Policy</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/business']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Business.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Business</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/realEstate']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Real Estate.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Real Estate</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/moterVehicle']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Motor.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Motor Vehicle</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/intellectualProperty']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Intellectual property.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Intellectual Property</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/personalPossession']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Personal Possession.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Personal Possession</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  [routerLink]="['/assets/safeDeposit']" routerLinkActive="router-link-active">
    <div class="flex justify-center max-h-10 ">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Safe Deposite Box.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Safe Deposit Box</div>
  </div>
  <div class="drop_shadow rounded-2xl flex-row justify-center px-2 py-3 m-2 cursor-pointer "
  >
    <div class="flex justify-center max-h-10">
      <img class="h-10 w-10" src="../../../../../assets/Icons/Other Assets.svg" />
    </div>
    <div class="text-center mt-2 font-bold text-sm h-8">Other Assets</div>
  </div>

</div>
  <div class="m-1 bg-[#ED7184] px-0 py-3 text-center rounded-2xl text-white font-bold w-2/3  hidden sm:block" >Continue</div>
 </div>
   
  </div>
  <div class="absolute md:hidden left-0 right-0 bottom-1 w-[87%] m-auto bg-white ">
    <app-button  value="Continue" id="submitButtonId"></app-button>
  </div>
</div>
