<div class="grid bold grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <div class="flex flex-col" *ngFor="let item of listItem" >
        <div [ngClass]="{ 'bg-[#ff6782] text-white': selectedItems?.includes(item._id) }"
            class="flex flex-row items-center sm:items-start md:flex-col rounded-2xl p-3 shadow-[0_0px_10px_rgba(0,0,0,0.1)] space-y-2 space-x-2 md:space-x-0 cursor-pointer visited:bg-gray-700 relative"
            (click)="onSelectItem(item._id)">
            <div *ngIf="deleteToggle" (click)="deleteHandler()" class="absolute right-6 md:top-5 text-[#FF6782]"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg></div>
            <div *ngIf="avtarType === 'name'" class="rounded-full bg-blue-300 font-extrabold w-[40px] p-2 text-center">
                {{ getShortName(item) || "AA" }}    
            </div>
            <div *ngIf="avtarType === 'image'"><img class="w-9 h-9" src="{{ item.image }}" /></div>
            <div class="flex flex-row justify-between">
                <div class="flex flex-col">
                    <div class="{{ classes[i] }}" *ngFor="let key of key; let i = index">
                        {{ item[key] }}
                    </div>
                </div>
            </div>

            <div class="absolute right-5 md:bottom-5">
                <div (click)="onClickActionButton(item)" class="border-2 rounded-full border-[#ff6782] p-1"
                    [ngClass]="{ 'border-white': selectedItems?.includes(item._id) }">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                    </svg>
                </div>
            </div>
        </div>
        <div *ngIf="shareToggle" class="mt-2">
            <div class="font-['GilroySemi']">Specify Shares</div>
            <div>
                <input type="number" placeholder="Share Percentage" max="100" min="0" (keyup)="sharePercentage($event,item._id)"
                class="font-[GilroyBold] sm:font-[GilroySemi] bg-[#F0F0F0] w-[100%] px-2 sm:px-4 py-2  form-control rounded-[14px]  focus:outline-none" />
            </div>
        </div>
    </div>
    
    <div class=" md:max-h-[120px] bg-[#fff] cursor-pointer flex flex-col rounded-xl border-dashed border-2 border-[#ff6782] py-7 justify-center items-center text-red"
        (click)="onAddItem()">
        {{ addItemTitle }}
    </div>
    
</div>