
.input-group1 {
  display: flex;
  width: 100%;
  input[type="radio"] {
    display: none;


  }
  input[type="radio"]:checked ~ img {
    border-radius: 50%;
    border: 2px solid #ff6782;
 
  }

  .radio_image {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;

  }
}

::placeholder {
  font-weight: 600;
}
