
<div class="flex flex-col px-8 py-4 spae-y-2">
  <app-header-toolbar
    routerlink="/liabilities"
    pagetitle="Choose Liabilities Category"
    [headerMenuIcon]=true
  ></app-header-toolbar>
  <app-button  value="Tutorial" routelink="/home" class="md:hidden" backgroundColor="bg-[#000]" margin="my-1"></app-button>


  <div class="w-full flex flex-row justify-center">
    <div class="w-full sm:w-2/3 md:w-1/3 lg:w-3/12 flex flex-col drop_shadow_container rounded-2xl p-3 space-y-2">
    <div class="font-extrabold text-xl m-1 hidden sm:block">Choose Liabilities Category</div>
    <div>
        <div class="drop_shadow rounded-2xl flex flex-row justify-center px-2 py-8 m-2 cursor-pointer space-x-4" [routerLink]="['/liabilities/securedLoan']" routerLinkActive="router-link-active" >
            <div class=" justify-center max-h-10">
              <img class="h-10 w-10" src="../../../../../assets/Icons/Loan.svg" />
            </div>
            <div class="text-center mt-2 font-bold text-lg h-8">Secured Loan</div>
          </div>
    </div>
    <div>
        <div class="drop_shadow rounded-2xl flex flex-row justify-center px-2 py-8 m-2 cursor-pointer space-x-4" [routerLink]="['/liabilities/unSecuredLoan']" routerLinkActive="router-link-active" >
            <div class=" justify-center max-h-10">
              <img class="h-10 w-10" src="../../../../../assets/Icons/Loan.svg" />
            </div>
            <div class="text-center mt-2 font-bold text-lg h-8">Unsecured Loan</div>
          </div>
    </div>

    <div>
        <div class="drop_shadow rounded-2xl flex flex-row justify-center px-2 py-8 m-2 cursor-pointer space-x-4" [routerLink]="['/liabilities/privateDebt']" routerLinkActive="router-link-active" >
            <div class=" justify-center max-h-10">
              <img class="h-10 w-10" src="../../../../../assets/Icons/Loan.svg" />
            </div>
            <div class="text-center mt-2 font-bold text-lg h-8">Private Debt</div>
          </div>
    </div>
    <div></div>
    
      <div class="m-1 bg-[#ED7184] px-0 py-4 text-center rounded-2xl text-white font-bold w-2/3 hidden sm:block">
        Continue
      </div>
    </div>
  </div>
  <div class="absolute md:hidden left-0 right-0 bottom-1 w-[87%] m-auto bg-white ">
    <app-button  value="Continue" id="submitButtonId"></app-button>
  </div>
</div>
