<div class="flex flex-col p-4 relative">
  <div class="justify-between px-4 pb-4 flex flex-row">
    <div class="sm:hidden " (click)="onClickBackButton()"><img src="../../../../assets/Icons/Back.svg" /></div>
    <div class="sm:hidden font-['GilroyBold'] text-2xl">CraftWills</div>
    <div class="sm:hidden">
      <img src="../../../../assets/Icons/Notify.svg" />
    </div>

    <div class="hidden sm:flex font-['GilroyBold'] text-2xl">Menu</div>
    <div class="hidden sm:flex rotate-180" (click)="onClickBackButton()">
      <img src="../../../../assets/Icons/Back.svg" />
    </div>
  </div>

  <div class="flex flex-row space-x-3 p-4">
    <div (click)="onClickBackButton()" [routerLink]="['/will/createWill']" routerLinkActive="router-link-active" 
      class="flex p-10 bg-red rounded-xl items-center justify-center w-1/2 sm:w-1/3 cursor-pointer"
    >
      My wills
    </div>
    <div 
      class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3 w-1/2 sm:w-2/3"
    >
      <div (click)="onClickBackButton()" [routerLink]="['/home/profile']" routerLinkActive="router-link-active" 
        class="px-8 py-4 sm:py-8 bg-red rounded-xl flex items-center justify-center sm:w-1/2 cursor-pointer"
      >
        Profile
      </div>
      <div
        class="px-8 py-4 sm:py-8 bg-red rounded-xl flex items-center justify-center sm:w-1/2 cursor-pointer"
      >
        Subscription
      </div>
    </div>
  </div>

  <div class="underline font-['GilroyBold'] text-center sm:text-left px-4">
    The Crafting Process
  </div>
  <div class="flex flex-row sm:flex-col p-4 space-x-3 sm:space-x-0 ">
    <div class="w-1/2 sm:w-full ">
      <div class="sm:w-3/5">
        <div class="font-['GilroyBold'] my-2">Preperation</div>
        <div
          class="border-dashed border-2 border-[#ff6782] flex flex-col sm:flex-row rounded-2xl p-3 sm:space-x-5"
        >
          <div class="flex flex-row cursor-pointer" (click)="onClickBackButton()" [routerLink]="['/assets']" routerLinkActive="router-link-active" >
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 1</div>
              <div class="text-sm font-['GilroyBold']">LIST ALL YOUR</div>
              <div class="text-lg font-['GilroyBold']">ASSETS</div>
            </div>
          </div>
          <div class="flex flex-row cursor-pointer" (click)="onClickBackButton()" [routerLink]="['/liabilities']" routerLinkActive="router-link-active" >
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 2</div>
              <div class="text-sm font-['GilroyBold']">LIST ALL YOUR</div>
              <div class="text-lg font-['GilroyBold']">LIABILITIES</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:w-3/5">
        <div class="font-['GilroyBold'] my-2">Optional</div>
        <div
          class="border-dashed border-2 border-[#ff6782] flex flex-col sm:flex-row rounded-2xl p-3 sm:space-x-5"
        >
          <div class="flex flex-row cursor-pointer" (click)="onClickBackButton()" [routerLink]="['/trust']" routerLinkActive="router-link-active" >
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 3</div>
              <div class="text-sm font-['GilroyBold']">CREATE A</div>
              <div class="text-lg font-['GilroyBold']">TRUST</div>
            </div>
          </div>
          <div class="flex flex-row cursor-pointer" (click)="onClickBackButton()" [routerLink]="['/members']" routerLinkActive="router-link-active" >
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 4</div>
              <div class="text-sm font-['GilroyBold']">LIST DOWN</div>
              <div class="text-lg font-['GilroyBold']">MEMBERS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:w-[90%] left-0 right-0 m-auto sm:absolute bottom-[-300px] pb-[20px]  bg-white z-10">
        <div class="font-['GilroyBold'] my-2">Creation</div>
        <div
          class="border-dashed border-2 border-[#ff6782] flex flex-col sm:flex-row rounded-2xl p-3  sm:space-y-2 flex-wrap"
        >
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 1</div>
              <div class="text-sm font-['GilroyBold']">VERIFY YOUR</div>
              <div class="text-lg font-['GilroyBold']">PARTICULARS</div>
            </div>
          </div>
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 2</div>
              <div class="text-sm font-['GilroyBold']">APPOINT EXECUTOR</div>
              <div class="text-lg font-['GilroyBold']">AND GUARDIAN</div>
            </div>
          </div>
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 3</div>
              <div class="text-sm font-['GilroyBold']">RESOLVE</div>
              <div class="text-lg font-['GilroyBold']">LIABILITIES</div>
            </div>
          </div>
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 4</div>
              <div class="text-sm font-['GilroyBold']">DISTRIBUTE</div>
              <div class="text-lg font-['GilroyBold']">ASSETS</div>
            </div>
          </div>
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 5</div>
              <div class="text-sm font-['GilroyBold']">RESIDUAL</div>
              <div class="text-lg font-['GilroyBold']">ASSETS</div>
            </div>
          </div>
          <div class="flex flex-row sm:min-w-[170px]">
            <div class="mx-2">|</div>
            <div class="flex flex-col p-1">
              <div class="text-xs font-['GilroyBold']">#Step 6</div>
              <div class="text-sm font-['GilroyBold']">ADDITIONAL</div>
              <div class="text-lg font-['GilroyBold']">CLAUSES</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2 sm:w-full space-y-3">
      <div class="">
        <img src="../../../../assets/Image/women.png" />
        <div class="bg-red rounded-2xl p-4 mt-[-10px]">
          <div class="font-['GilroyBold'] text-center sm:text-left text-base">
            DO I HAVE TO LIST EVERYTHING?
          </div>
          <div class="text-center sm:text-left text-xs sm:text-sm">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text.
          </div>
        </div>
      </div>
      <div class="">
        <div class="bg-red rounded-2xl p-4">
          <div class="font-['GilroyBold'] text-center sm:text-left text-base">
            WHAT IS A TRUST?
          </div>
          <div class="text-center sm:text-left text-xs sm:text-sm">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text.
          </div>
        </div>
      </div>
      <div class="">
        <div class="bg-red rounded-2xl p-4">
          <div class="font-['GilroyBold'] text-center sm:text-left text-base">
            ROLE OF EXECUTOR
          </div>
          <div class="text-center sm:text-left text-xs sm:text-sm">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text.
          </div>
        </div>
      </div>
      <div class="">
        <div class="sm:w-2/5 md:w-2/5">
          <app-button
            value="How it works"
            routelink="/home"
            backgroundColor="bg-[#000]"
            margin="my-1"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
