<div class="flex flex-col mx-8 my-8 md:hidden" >

  <app-header-toolbar routerlink="/home" pagetitle="Assets" [headerMenuIcon]=true></app-header-toolbar>
  <app-button  value="Tutorial" routelink="/home" class="md:hidden" backgroundColor="bg-[#000]" margin="my-1"></app-button>
</div>


<div class="flex flex-col px-8 mt-16 md:mt-5 pt-0 md:pt-4 pb-4 h-[75vh] md:h-[80vh] top-40 ">
<div class="flex flex-row items-center w-full  ">
    <div class="hidden md:block w-1/12 font-extrabold text-xl">Assets</div>
      <div class="w-3/12 hidden md:flex items-center dropdown cursor-pointer font-semibold "  ><img class="inline-block md:mr-2 " src="../../../../assets/Icons/Filter.svg">Sort by assets
        
        <app-dropdown #dropdown class="ml-1">
         <div
           button
           class="cursor-pointer"
           (click)="dropdown.open = !dropdown.open"
           (clickOutside)="dropdown.open = false"
         >
     
         <i class="fa fa-chevron-down text-[14px]" aria-hidden="true"></i>
         </div>
         <div options class="w-full p-2 bg-white rounded-2xl shadow-lg ">
 

         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Bank account</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Investment account</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Insurance Policy</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Business</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold"> Real Estate</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Motor Vehicle</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Intellectual Property</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold"> Personal Possession</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold"> Safe Deposit Box</div>
           </div>
         <div
             class="hover:bg-[#ff6782] flex flex-row rounded-xl py-1 px-2 items-center hover:text-[#fff] hover:no-underline cursor-pointer">
             <div class="font-bold">Other Assets</div>
           </div>
  
         </div>
       </app-dropdown>
      </div>
    <div class="w-full left-0 px-8 md:px-0  md:w-2/12 flex items-center fixed md:static top-36"><input type="search" class="md:hidden w-[96%] px-4 py-3 bg-[#f7f7f7] form-control  rounded-[10px]  form-control " placeholder="search"><img aria-expanded="false" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"  class="md:hidden inline-block ml-4 rounded-xl p-4 bg-[#f7f7f7]" src="../../../../assets/Icons/Filter.svg">
    </div>

    <div class="hidden md:w-4/12 justify-end  md:flex text-base text-center">
      <app-button border="border-2 border-black" padding="px-7 py-3" backgroundColor="bg-[#fff]" borderRadius="rounded-xl" color="text-[#000]" value="Tutorial"  routelink="/assets/createAssets"></app-button>
    </div>
    <div class="w-4/12 md:ml-6 md:mr-10 sm:w-fit items-center hidden md:flex"><img class="ml-auto h-[38px] w-[38px]" src='../../../../../assets/Icons/Group 4361.svg'></div>
    <div class="w-12/12 md:w-fit justify-end hidden md:flex text-base text-center">

        <app-button bac value="Create New Assets" routelink="/assets/createAssets"></app-button>
    </div>
</div>

<app-table [tableHeadings]='tableHeadings' (actionButton)="onClickAction($event)" [tableData]='allAssetsinOne' [keys]='tableKeys' [classes]="classes" emptyTableMessage="No Assets Found">
</app-table>

<app-button  value="Create New Assets" routelink="/assets/createAssets" class="md:hidden" margin="my-1"></app-button>
</div>
